*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.qqq{

    background-color: rgb(42, 40, 40);
    
}
.social-link a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height:2rem;
    background: transparent;
    font-size: 2rem;
    color: solid  rgb(255, 255, 255);
    margin:3rem 1.5rem 3rem 0

}
 
.social-link a:hover{
    transform: scale(1.1);
    text-decoration: none;
}
.card{
    box-shadow: rgba(231, 5, 5, 0.35) 5px 20px 20px;
}
.card:hover{
    transform: scale(1.1);
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px #000;
    text-transform: uppercase;
    border: solid 2px #fff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: rgb(10, 10, 14);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
  }
  
  button:active {
    transform: scale(.9);
    transition: all 100ms ease;
  }
  
  button svg {
    transition: all .5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all .5s ease;
    transition-delay: 300ms;
  }
  
  button:hover svg {
    transform: scale(1.3) translate(-40%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(290%);
    transition: all .5s ease;
    z-index: 2;
  }
  
  button:hover .now {
    transform: translateX(90%);
    transition-delay: 300ms;
  }
  
  button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }
  
  
  